@model Dominio.Empleado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Crear nuevo empleado</h1>
<form method="post" asp-action="Create">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PrimerNombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PrimerNombre" class="form-control" />
                    <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SegundoNombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SegundoNombre" class="form-control" />
                    <span asp-validation-for="SegundoNombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Genero"></label>
                </div>
                <div class="col-8">
                 @Html.DropDownList("Generos", new SelectList(ViewBag.GenerosEnum,"Value","Text"),new { @class ="form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>

